nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-rigt: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 15px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
}
/* Sidro za padajući meni */
.profile-container {
  position: relative;
  display: inline-block; /* Sprečava flexbox da ga razvuče */
  cursor: pointer;
}

/* Padajući meni koji lebdi iznad svega */
.dropdown-menu {
  position: absolute;
  top: 120%; /* Top 100% ga gura tačno ispod slike, 120% daje malo prostora */
  right: 0; /* Poravnava ga sa desnom ivicom slike */
  width: 160px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 9999; /* Mora biti ogroman broj da bude iznad svega na stranici */
}

.dropdown-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.dropdown-info strong {
  font-size: 14px;
  color: #333;
}

.dropdown-info span {
  font-size: 12px;
  color: #777;
  margin-top: 3px;
}

.dropdown-menu hr {
  margin: 0;
  border-top: 1px solid #eee;
}

.profile-btn {
  padding: 12px;
  background: transparent;
  border: none;
  text-align: left;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  border-radius: 0 0 8px 8px;
}

.profile-btn:hover {
  background: #f9f9f9;
}
